#luckysheet {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: -1px;
    bottom: 0px;
}

#uploadBtn {
    font-size: 16px;
}

#tip {
    position: absolute;
    z-index: 1000000;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#pass_body{
    padding: 10px;
}
.pass_input{
    width: 250px;
    margin: 0 auto;
}
.pass_table,
.pass_table td,
.pass_table th {
    border-width: 0;
}
#loading{
    padding: 10px;
}
#loading img{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
*{
    padding: 0;
    margin: 0;
}
.modal {
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    padding: 20px;
    position: fixed;
    top: -100%;
    left: 20%;
    transform: translateX(-50%);
    animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
    from {
        top: -100%;
    }
    to {
        top: 10%;
    }
}

.modal .modal-header {
    width: 300px;
    display: flex;
}
.modal .modal-content {
    padding: 10px 0;
    font-size: 15px;
    text-align: center;
}
.modal .modal-header .modal-title {
    flex: 1;
    font-size: 20px;
}
.modal .modal-header .modal-close {
    width: 50px;
    font-size: 23px;
    text-align: right;
    cursor: pointer;
}
.modal2-close{
    width: 30px;
    font-size: 15px;
    text-align: right;
    cursor: pointer;
}
.modal::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.2);
}